.text-box{
    display: flex;
    padding-top: 10%;
}

.item1-title{
    font-size: 65px;
    display: flex;
    width: fit-content;
    align-self: center;
    color: #ffffff;
}

.item1-description{
    display: flex;
    width: fit-content;
    align-self: center;
    color: #ffffff;
    text-align: center;
    padding-top: 60px;
}

@media (max-width: 980px){
    .item1-title{
        font-size: 30px!important;
        padding-top: 56%;
        color: #EFE60B;
    }
    
    .item1-description{
        padding-top: 18%!important;
        padding-bottom: 35%;
        font-size: 17px!important;
    }
    .desktop-header{
        display: none;
    }
    
}

.desktop-header input{
    width: 198px;
    height: 30px;
    background: transparent url('../../assets/Rectangle_13.svg') 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border: none;
}

#first-box{
    background-image: url("../../assets/banner02.png");
}

#second-box{
    background-image: url("../../assets/01.png");
    background-size: 100% 100%;
}

#third-box{
    background-image: url("../../assets/02.png");
    background-size: 100% 100%;
}

#fourth-box{
    background-image: url("../../assets/03.png");
    background-size: 100% 100%;
}

#fifth-box{
    background-image: url("../../assets/04.png");
    background-size: 100% 100%;
}

.alice-carousel__dots-item:not(.__custom){
    width: 25px!important;
    height: 25px!important;
    background-color: #ffffff!important;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active{
    background-color: rgb(240, 231, 20)!important;
}



@media (min-width: 980px){
    .alice-carousel__wrapper{
        left: 0%;
    }

    .alice-carousel__dots{
        position: relative;
        top: -7vh;
        margin: 0px!important;
    }

    .item-clients{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 950px;
    }

    .client-stories-carousel{
        display: flex;
        justify-content: center;
    }

    .text-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
}