.text-box{
    display: flex;
    padding-top: 10%;
}

.item1-title{
    font-size: 65px;
    display: flex;
    width: fit-content;
    align-self: center;
    color: #ffffff;
}

.item1-description{
    display: flex;
    width: fit-content;
    align-self: center;
    color: #ffffff;
    text-align: center;
    padding-top: 60px;
}

@media (max-width: 980px){
    .item1-title{
        font-size: 30px!important;
        padding-top: 56%;
        color: #EFE60B;
    }
    
    .item1-description{
        padding-top: 18%!important;
        padding-bottom: 35%;
        font-size: 17px!important;
    }
    .desktop-header{
        display: none;
    }
    
}

.desktop-header input{
    width: 198px;
    height: 30px;
    background: transparent url('../../assets/Rectangle_13.svg') 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border: none;
}

@media (min-width: 980px){
    .header-container{
        height: 100vh;
        justify-content: start;
    }
    .desktop-header{
        display: flex;
        flex-direction: row;
        background-color: #383736;
        background: transparent linear-gradient(180deg, #FFFFFF00 0%, #80808080 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        backdrop-filter: blur(6px);
        font-size: 9px;
        color: #ffffff;
        height: 14%;
        align-items: center;
        justify-content: space-around;
    }
    
    .text-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
}