.banner {

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: flex-end;

    background-color: gray;
    height: 80vh;
}
.main-btns {
    margin: 0 auto;
}

ul {
    width: 100%;
    list-style-type: none;
    color: white;
    margin: 50px 0;
    padding: 0;

    display: flex;
    gap: 7rem;
}


.link-ref {
    text-decoration: none;
    border: 4px solid rgba(255, 255, 255, 0);
    border-radius: 50px;

    font-family: MontserratBold;
    font-size: 40px;

    padding: 1.2rem 2.2rem;

    color: inherit;

    transition: border linear 0.1s;
}

.page-active {
    border-color:white;
}


.link-ref:hover,
.link-ref:focus {
    border-color:white;
}


.ImgHome {
    background-image: url('../../assets/services-home.png'); 
}

.ImgMidias {
    background-image: url('../../assets/gradiente.png'); 
}

.ImgInbound {
    background-image: url('../../assets/Grupo\ de\ máscara\ 14.png');
}

.ImgTI {
    background-image: url('../../assets/services-ti.png')
}
.ImgCRO {
    background-image: url('../../assets/services-cro.png');
}

.ImgSEO {
    background-image: url('../../assets/services-seo.png')
}
.ImgWebDev {
    background-image: url('../../assets/services-ti.png');
}

.ImgAnalytics {
    background-image: url('../../assets/services-webanaly.jpg')
}
/* .ImgDesign {
    background-image: url('../../assets/service.png');
} */

.ImgSocial {
    background-image: url('../../assets/services-social.png')
}


@media(max-width: 980px) {
    
    :root {
        font-size: 90%;
    }

    ul {
        flex-direction: column;
    }
    .link-ref {
        font-size: 1.5rem;
        display: inline-block;
        margin: 1.2rem 0;
    }
}

@media(max-width: 768px) {
    
    :root {
        font-size: 85%;
    }
    .link-ref {
        display: inline-block;
        font-size: 1.2rem;
        margin: 1.2rem 0;
    }
}