.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.more {
    display: flex;
    justify-content: flex-end;
}


.image img {
    max-width: 90%;
    height: auto;
    border-radius: 20px;
}

.text {
    
}

@media(max-width: 980px) {
    .content {
        grid-template-rows: 1fr 1fr;
    }
}