p {
    font-family: MontserratRegular;
    font-size: 1.2rem;
    line-height: 1.5rem;

    padding: 15px 0;
}

h3 {
    font-family: MontserratBold;
}

.container {
    max-width: 60vw;
    margin: 7rem auto;
    color: #696969;
    
}
