html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

@font-face {
  font-family: MontserratBold;
  src: url(/src/assets/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(/src/assets/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratLight;
  src: url(/src/assets/Montserrat-Light.ttf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

h1{
  margin-block-start: 0em!important;
  margin-block-end: 0em!important;
  height: fit-content;
  font-family: MontserratBold;
}

p{
  margin-block-start: 0em!important;
  margin-block-end: 0em!important;
  font-family: MontserratBold;
}
