.forms-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 4%;
}

.forms-container input{
    background-color: #F3F3F3;
    border: none;
    border-radius: 50px;
    width: 100%;
    height: 6vh;
    outline: none;
    margin-bottom: 1.5%;
    font-family: MontserratLight;
    padding-left: 3%;
}

.forms-container label{
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    font-family: MontserratLight;
}

.forms-container button{
    background-color: #F6EF34;
    border: none;
    color: #696969;
    width: 100%;
    border-radius: 50px;
    height: 6vh;
    font-size: 30px;
}
.forms-button:hover{
    transform: scale(1.03);
    transition: all 0.3s ease 0s;
}
#message{
    height: 20vh;
}

::-webkit-input-placeholder { /* WebKit browsers */
    padding-left: 0%;
}

.forms-background{
    display: flex;
    width: 30%;
    padding: 3%;
    flex-direction: column;
    background-color: #4E4C4A;
    border-radius: 10px;
}


@media (max-width: 980px){
    .forms-container input{
        width: 90%;
    }

    .forms-container label{
        width: 84%;
    }
    
    .forms-background{
        width: 80%;
    }

    .forms-container button{
        width: 90%;
        font-size: 14px;
    }
}